body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #e53935;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #292424;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #45a092;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

li.completed {
    text-decoration: none; /* No text decoration */
}

li.completed::after {
    content: '\2714';
    font-size: 1.2rem;
    color: #45a092; 
    margin-left: 5px;
}

.clearBtn {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clearBtn:hover {
    background-color: #e53935;
}